@tailwind base;
@tailwind components;
@tailwind utilities;

.ais-InfiniteHits-item {
    @apply border-none p-0 m-0 shadow-none;
}

.ais-InfiniteHits-list {
    @apply border-none p-0 m-0 shadow-none;
}

.ais-InfiniteHits {
    @apply border-none p-0 m-0 shadow-none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}